<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a class="mysocial" href="{{ "about" | absURL }}"><i class="fas fa-user-tie fa-2x"></i>  </i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://www.facebook.com/sergio.ebouele" class="mysocial"><i class="fab fa-facebook-square fa-2x"></i></a></span>&nbsp;&nbsp;            
            <span class="icon is-large"><a href="https://github.com/seewe/RtoQuebec" class="mysocial"><i class="fab fa-github fa-2x"></i></a></span>&nbsp;&nbsp;            
            <br><br>
            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}} 
            <!-->
            <br>
            À propos de <a class="mysocial" href="{{ "about" | absURL }}">Sergio eWane ebouele (SeeWe)</a>
            <-->
            <br>
            <i class="far fa-envelope"></i> sergio.ewane-ebouele.1@ulaval.ca
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>
</html>
